.footer {
    width: 100%;
    background-color: #000616;

}

.footer_inner {
    padding: 80px 175px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;


}


.footer_item {
    width: 33.33%;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0px 10px;


}

.footer_item h1 {
    color: #fff;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 600;
}

.footer_item h1 span {
    color: #970000;
}

.footer_item ul {
    padding: 10px 0px 0px 0px !important;
    list-style: none;
    display: inline-block;
    flex-direction: column;
    float: left;
    color: white;
    width: 100%;


}

.footer_item ul span li {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 700;
    color: white;



}

.footer_item ul li a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #a0a0a0;
}

.footer_item ul li ul {
    width: 50%;
    display: grid;
}















@media (max-width: 1280px) {
   

    .navigation_inner {
        padding: 20px 100px 20px;

    }
}







@media (max-width: 1199px) {

    
    .navigation_inner {
        padding: 20px 60px 20px;

    }
}






@media (max-width: 1070px) {

   

 

    .footer_inner {
        padding: 80px 100px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;


    }
}





@media (max-width: 1030px) {
    


}







@media (max-width: 991px) {

  
}






@media (max-width: 767px) {

   

    .footer_inner {
        padding: 80px 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;


    }


}






@media (max-width: 575px) {

    

    .footer_inner {
        padding: 30px 10px;
        justify-content: center;
        display: grid;
        flex-wrap: wrap;


    }

    .footer_item {
        width: 100%;
        box-sizing: border-box;
        justify-content: space-around;
        padding: 0px 10px;


    }

    .footer_item h1 {
        margin: 0;
    }
}





@media (max-width: 479px) {

    

    




}

