.index_section1 {
    position: relative;
}


.mySlides {
    display: none
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    height: 694px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots {
    position: absolute;
    bottom: 8px;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    t cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*index slide show banner end*/
.index_section2 {
    width: 100%;
}

.index_section2_inner {
    padding: 100px 175px;
}

.index_section2_inner_row1 {
    width: 100%;
    text-align: center;

}



.index_section2_inner_row1 h1 {
    font-family: Oswald;
    font-size: 53px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}

.index_section2_inner_row1 h1 span {
    color: #01456a;
}

.index_section2_inner_row2 {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.index_section2_inner_row2_img {
    width: 50%;




}

.index_section2_inner_row2_img img {
    /*display: block;*/
    width: 100%;
    height: 375px;
    border-radius: 20px;


}

.index_section2_inner_row_item {
    width: 50%;
    justify-content: space-around;
    padding: 50px 0px 50px 30px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    text-align: justify;

}

.index_section2_inner_row_item p {
    padding-bottom: 20px;
}

.index_section2_inner_row_item a {
    width: 135px;
    height: 35px;
    text-decoration: none;
    background-color: #01456a;
    font-family: Roboto;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 500;
    padding: 10px 15px;
    color: white;

}

.index_section3 {
    width: 100%;
    background-color: #f7f7f7;

}

.index_section3_inner {
    padding: 100px 175px;
    display: flex;
    justify-content: space-between;


}

.index_section3_inner_box {
    width: 48%;
    margin: 0 auto;
    justify-content: center;


}

.index_section3_title {
    width: 100%;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 700;
    background-color: #336987;
    color: white;
    text-align: center;
    height: 58px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;

}

.index_section3_item {
    width: 100%;
    height: 270px;
    border-radius: 0px 0px 10px 10px;
    background-color: #ecf0f3;
    overflow-y: scroll;

}

.index_section3_item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d9e9f2;
    border-radius: 10px;
}

.index_section3_item::-webkit-scrollbar {
    width: 4px;
    background-color: #a5c3d3;
    border-radius: 50px;
}

.index_section3_item::-webkit-scrollbar-thumb {
    background-color: #d9e9f2;
    border: 2px solid #a5c3d3;
}

.index_section3_event {
    padding: 20px 20px 0px;
    display: flex;
    justify-content: space-between;

}

.index_section3_event_des {
    padding: 0px 0px 24px 24px;
    text-align: left;
}

.index_section3_event_des h2 {
    font-family: Oswald;
    font-size: 21px;
    font-weight: 700;
    margin: 0px;
    color: #346a88;

}

.index_section3_event_des p {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    color: #346a88;
    margin: 0px;

}

.index_section3_notice {
    padding: 20px 20px 0px;
    display: flex;

}

.index_section3_notice_date {
    height: 40px;
    width: 40px;
    background-color: #036ea8;
    padding: 10px 11px;
    text-align: center;
    color: white;
}

.index_section3_notice_date h4 {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    margin: 0px;

}

.index_section3_notice_date p {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    margin: 0px;
}

.index_section3_notice_des {
    padding: 7px 0px 7px 14px;
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #346a88;

}

.index_section3_btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px;


}

.index_section3_btn a {
    height: 25px;
    width: 135px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background-color: #346a88;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}




.index_section4 {
    width: 100%;
    background-color: #336987;
    height: fit-content;

}

.index_section4_inner {
    padding: 100px 175px;
    display: flex;
    justify-content: space-between;


}

.index_section4_inner_box {
    width: 48%;
    margin: 0 auto;
    justify-content: center;


}

.index_section4_title {
    width: 100%;
    font-family: Oswald;
    font-size: 42px;
    font-weight: 700;
    background-color: #336987;
    color: white;
    text-align: left;
    height: 58px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;

}

.index_section4_item {
    width: 100%;
    height: fit-content;
    border-radius: 0px 0px 10px 10px;
    /*overflow-y: scroll;*/


}

.index_section4_item ul {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    color: white;
    padding-top: 30px;
}

.index_section4_item ul li {
    padding: 5px 0px;
}





.index_section5 {
    width: 100%;
    background-image: linear-gradient(to left, transparent, mistyrose), url('img/aaac.png');
    height: fit-content;
}

.index_section5_inner {
    padding: 55px 175px;
    margin: 0 auto;
}

.index_section5_inner_row1 {
    width: 100%;
    text-align: center;

}



.index_section5_inner_row1 h1 {
    font-family: Oswald;
    font-size: 53px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
    margin-top: 0px;
}

.index_section5_inner_row1 h1 span {
    color: #840005;
}

.index_section5_inner_row2 {
    width: 100%;
    display: flex;
    /*background-color: black;*/
    justify-content: space-between;

}

.index_section5_inner_row2 img {
    width: 90%;
    height: 182px;
    border-radius: 10px;
    margin: 0 auto;
}

.index_section5_inner_row3 {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 40px;


}

.index_section5_inner_row3 a {
    height: 25px;
    width: 150px;
    padding: 10px;
    background-color: #346a88;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}


.index_section6 {
    width: 100%;
}

.index_section6_inner {
    padding: 100px 175px;
}

.index_section6_inner_row1 {
    width: 100%;
    text-align: center;

}



.index_section6_inner_row1 h1 {
    font-family: Oswald;
    font-size: 53px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}

.index_section6_inner_row1 h1 span {
    color: #01456a;
}

.index_section6_inner_row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.index_section6_inner_row2_box {
    width: 48%;
}

/*.index_section6_inner_row2_box iframe{
        position: absolute;
        top: 0;
        left: 0; 
    }*/
.index_section6_inner_row2_box iframe {
    width: 600px;
    height: 450px;
}

.index_section6_inner_row2_form {
    background-color: #014569;
    padding: 40px;
    height: fit-content;
    display: grid;

}

.index_section6_row {
    display: flex;
    justify-content: space-between;
}

.index_section6_col_6 {
    width: 48%;
    height: fit-content;

}

.index_section6_col_12 {
    width: 100%;
    height: fit-content;
}

.index_section6_cal {
    display: grid;
    height: fit-content;

}

.index_section6_inner_row2_form label {
    padding: 10px 10px 10px 0px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    color: white;
}

.index_section6_inner_row2_form input {
    height: 40px;
    border-radius: 15px;
    background-color: #2a6381;
    color: white;
}

.index_section6_inner_row2_form textarea {
    height: 92px;
    border-radius: 15px;
    background-color: #2a6381;
    color: white;
}

.index_section6_inner_row2_form button {
    margin-top: 14px;
    width: fit-content;
    padding: 10px 35px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    color: #01456a;
}














/*responsive*/




@media (max-width: 1280px) {
    .index_section2_inner {
        padding: 90px 100px;
    }

    .index_section3_inner {
        padding: 90px 100px;
    }

    .index_section4_inner {
        padding: 90px 100px;
    }

    .index_section5_inner {
        padding: 90px 100px;
    }

    .index_section6_inner {
        padding: 90px 100px;
    }

    .index_section6_inner_row2_box iframe {
        width: 518px;
        height: 462px;
    }


}







@media (max-width: 1199px) {



    .index_section2_inner {
        padding: 80px 60px;
    }

    .index_section3_inner {
        padding: 80px 60px;
    }

    .index_section4_inner {
        padding: 80px 60px;
    }

    .index_section5_inner {
        padding: 80px 60px;
    }

    .index_section6_inner {
        padding: 80px 60px;
    }

    .index_section2_inner_row2_img img {
        height: 300px;

    }

    .index_section2_inner_row_item {
        padding: 0px 0px 0px 30px;
        font-size: 17px;

    }
}






@media (max-width: 1070px) {

    .mySlides img {
        height: 600px;

    }

    .index_section2_inner {
        padding: 50px 50px;
    }

    .index_section3_inner {
        padding: 30px 50px;
    }

    .index_section4_inner {
        padding: 50px 50px;
    }

    .index_section5_inner {
        padding: 30px 50px;
    }

    .index_section6_inner {
        padding: 50px 50px;
    }



    .index_section2_inner_row1 h1 {
        margin-top: 0;
    }

    .index_section2_inner_row2_img img {
        height: 300px;

    }

    .index_section2_inner_row_item {
        padding: 30px 0px 30px 10px;
        font-size: 15px;
    }

    .index_section2_inner_row_item p {
        margin: 0;
    }

    .index_section3_event_img img {
        height: 100px;
        width: 150px;
    }

    .index_section3_event_des h2 {
        font-size: 18px;

    }

    .index_section3_event_des p {
        font-size: 15px;
    }
}





@media (max-width: 1030px) {}







@media (max-width: 991px) {

    .mySlides img {
        height: 500px;

    }


    .index_section2_inner_row1 h1 {
        margin-top: 0;
    }

    .index_section3_event {
        padding: 15px 15px 0px;
    }

    .index_section2_inner_row2_img img {
        height: 250px;

    }

    .index_section2_inner_row_item {
        padding: 20px 0px 20px 10px;
        font-size: 12px;
    }

    .index_section2_inner_row_item p {
        margin: 0;
    }

    .index_section3_event_img img {
        height: 70px;
        width: 100px;
    }

    .index_section3_event_des {
        padding: 0px 0px 15px 15px;

    }

    .index_section3_event_des h2 {
        font-size: 15px;

    }

    .index_section3_event_des p {
        font-size: 12px;
    }

    .index_section3_notice {
        padding: 15px 15px 0px;
    }

    .index_section3_notice_date {
        padding: 5px 6px;
        height: 30px;
        width: 30px;

    }

    .index_section3_notice_date h4 {
        font-size: 15px;

    }

    .index_section3_notice_date p {
        font-size: 8px;
    }

    .index_section3_notice_des {
        font-size: 12px;
    }



    .index_section4_inner_box {
        display: grid;
    }

    .index_section4_title {
        height: fit-content;
    }

    .index_section6_row {
        display: grid;
        width: 100%;
        justify-content: stretch;
    }

    .index_section6_col_6 {
        width: -webkit-fill-available;

    }
}






@media (max-width: 767px) {

    .mySlides img {
        height: 400px;

    }




    .index_section2_inner_row1 h1 {
        margin-top: 0;
    }

    .index_section2_inner_row2 {
        display: grid;
        margin: 0 auto;
        align-content: center;

    }

    .index_section2_inner_row2_img {
        width: 100%;
        /*height: 400px;*/
        display: grid;
        margin: 0 auto;
    }

    .index_section2_inner_row_item {
        width: 100%;
        display: grid;
        margin: 0 auto;
    }

    .index_section2_inner_row_item p {
        font-size: 19px;
    }



    .index_section2_inner_row2_img img {
        height: 400px;

    }



    .index_section2_inner_row_item {
        padding: 20px 0px 20px 10px;
        font-size: 12px;
    }

    .index_section2_inner_row_item p {
        margin: 0;
    }




    .index_section3_inner {
        padding: 50px 50px;

    }


    .index_section3_inner {
        display: grid;
    }




    .index_section3_event {
        padding: 15px 15px 0px;
    }

    .index_section3_inner_box {
        width: 100%;
    }

    .index_section3_event_img img {
        height: 100px;
        width: 150px;
    }

    .index_section3_event_des {
        padding: 0px 0px 15px 15px;

    }

    .index_section3_event_des h2 {
        font-size: 21px;

    }

    .index_section3_event_des p {
        font-size: 15px;
    }

    .index_section3_notice {
        padding: 15px 15px 0px;
    }

    .index_section3_notice_date {
        padding: 5px 6px;
        height: 40px;
        width: 40px;

    }

    .index_section3_notice_date h4 {
        font-size: 21px;

    }

    .index_section3_notice_date p {
        font-size: 12px;
    }

    .index_section3_notice_des {
        font-size: 15px;
    }

    .index_section4_inner {
        display: grid;
    }

    .index_section4_inner_box {
        width: 100%;

    }

    .index_section4_item ul {
        padding-top: 0px;
    }

    .index_section6_inner_row2 {
        display: grid;
        justify-content: stretch;
    }

    .index_section6_inner_row2_box {
        width: 100%;
        height: 450px;
    }

    .index_section6_row {
        display: flex;
        justify-content: space-between;
    }

    .index_section6_col_6 {
        width: 48%;

    }



}






@media (max-width: 575px) {

    .mySlides img {
        height: 300px;

    }

    .index_section2_inner_row2_img img {
        height: 300px;

    }

    .index_section4_item ul {
        padding-top: 0px;
        font-size: 12px;
    }

    .index_section4_title {
        font-size: 30px;
    }

}





@media (max-width: 479px) {

    .mySlides img {
        height: 250px;

    }


    .index_section2_inner {
        padding: 20px 20px;
    }

    .index_section3_inner {
        padding: 20px 20px;
    }

    .index_section4_inner {
        padding: 20px 20px;
    }

    .index_section5_inner {
        padding: 20px 20px;
    }

    .index_section6_inner {
        padding: 20px 20px;
    }


    .index_section2_inner_row2_img {
        font-size: 8px;


    }

    .index_section2_inner_row2_img img {
        height: 250px;

    }

    .index_section2_inner_row_item {
        padding-left: 0px;
    }

    .index_section2_inner_row_item p {}

    .index_section3_event {
        padding: 10px 10px 0px;

    }

    .index_section3_event_img img {
        height: 60px;
        width: 80px;
    }

    .index_section3_event_des {
        padding: 0px 0px 10px 10px;

    }

    .index_section3_event_des h2 {
        font-size: 15px;

    }

    .index_section3_event_des p {
        font-size: 10px;
    }

    .index_section3_notice {
        padding: 10px 10px 0px;
    }

    .index_section3_notice_date {
        padding: 5px 6px;
        height: 40px;
        width: 40px;

    }

    .index_section3_notice_date h4 {
        font-size: 15px;

    }

    .index_section3_notice_date p {
        font-size: 8px;
    }

    .index_section3_notice_des {
        font-size: 10px;
    }

    .index_section6_inner_row2_box {
        width: 100%;
        height: 400px;
    }

    .index_section6_row {
        display: grid;
        width: 100%;
        justify-content: stretch;
    }

    .index_section6_col_6 {
        width: -webkit-fill-available;

    }

    .index_section6_inner_row2_form {
        padding: 30px;
    }



    .index_section6_inner_row2_form label {
        padding: 10px 10px 10px 0px;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
    .index_section6_inner_row2_form label:first-child{
        padding-top: 0px;
    }

    .index_section6_inner_row2_form input {
        height: 30px;
        border-radius: 10px;
        background-color: #2a6381;
        color: white;
    }

    .index_section6_inner_row2_form textarea {
        height: 50px;
        border-radius: 15px;
        background-color: #2a6381;
        color: white;
    }

    .index_section6_inner_row2_form button {
        margin-top: 14px;
        width: fit-content;
        padding: 5px 25px;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 500;
        color: #01456a;
    }
}