 /*start about us section1 */
 .tp_section1 {
     width: 100%;
 }

 .tp_section1_inner {
     position: relative;
 }

 .tp_section1_img {}

 .tp_section1_inner img {
     height: 396px;
     width: 100%;
     filter: blur(2px);
     -webkit-filter: blur(2px);

 }

 .tp_section1_title {
     position: absolute;
     top: 30%;
     width: 100%;
     font-family: Oswald;
     font-size: 71px;
     font-weight: 600;
     color: white;
     text-align: center;

 }

 .tp_section1_title span {
     color: #840005;
 }

 /*end about us section1 */
 /*start about us section2 */
 /*table { border-collapse: collapse; }
    th, td { border: solid 1px #5d5a55; padding: 5px; }
    th{
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        background-color: #c6c6c6;
        color: white;
        
    }
    td{
        text-align: center;
        min-width: 180px;
        max-width:calc(100% - 180px) ;
        padding: 10px 45px;
    }
  */

 .tp_section2 {
     width: 100%;
 }

 .tp_section2_inner {
     /*height: 980px;*/
     padding: 105px 175px;
 }

 .tp_section2_inner_headding {
     font-family: Oswald;
     font-size: 33px;
     font-weight: 600;
     text-align: left;
     color: #01456a;
 }

 .tp_section2_inner_sub_headding {
     font-family: Montserrat;
     font-size: 25px;
     font-weight: 700;
     color: #01456a;
     padding: 35px 0px 0px;
 }

 .tp_section2_inner_des {
     padding: 35px 0px 0px;
 }

 .tp_section2_inner_des ul {
     padding-left: 20px;
     font-family: Montserrat;
     font-size: 17px;
     font-weight: 500;
     list-style: none;
 }

 .tp_section2_inner_des ul li {
     padding-bottom: 20px;
     text-align: justify;


 }

 .tp_section2_inner_des ul li::before {
     content: "•";
     color: #840005;
     font-weight: bold;
     display: inline-block;
     width: 1em;
     margin-left: -1.2em;
 }




 /*end main section*/



 /*responsive*/









 @media (max-width: 1280px) {


     .tp_section2_inner {
         padding: 90px 100px;

     }
 }







 @media (max-width: 1199px) {
     .tp__section2_inner {
         padding: 80px 60px;

     }

 }






 @media (max-width: 1070px) {
     .tp_section2_inner {
         padding: 50px 50px;

     }
 }





 @media (max-width: 1030px) {}







 @media (max-width: 991px) {
    .tp_section1_inner {
         height: 300px;
     }



     .tp_section1_inner img {
         height: 300px;
     }

     .tp_section1_inner {
         height: fit-content;
     }

 }






 @media (max-width: 767px) {

     .tp_section1_inner {
         height: 250px;
     }



     .tp_section1_inner img {
         height:250px;
     }

     .tp_section1_inner {
         height: fit-content;
     }
     .tp_section1_title{
        font-size: 50px;
     }
     .tp_section2_inner_headding{
        font-size: 25px;

     }
     .tp_section2_inner_sub_headding{
        font-size: 20px;

     }
     .tp_section2_inner_des ul{

     }




 }






 @media (max-width: 575px) {

     .tp_section1_inner {
         height: 200px;
     }



     .tp_section1_inner img {
         height: 200px;
     }

     .tp_section1_title {}

     .tp_section1_title {
         font-size: 40px;
     }
     .tp_section2_inner_headding{
        font-size: 20px;

     }
     .tp_section2_inner_sub_headding{
        font-size: 15px;

     }
     .tp_section2_inner_des ul{
        font-size: 12px;
        
     }


 }





 @media (max-width: 479px) {
     .tp_section1_inner {
         height: 150px;
     }



     .tp_section1_inner img {
         height: 150px;
     }

     .tp_section1_title {
         bottom: 50%;
     }

     .tp_section1_title {
         font-size: 30px;
     }
     .tp_section2_inner_headding{
        font-size: 15px;

     }
     .tp_section2_inner_sub_headding{
        font-size: 12px;

     }
     .tp_section2_inner_des ul{
        font-size: 10px;
        
     }


 }